{{#if image}}
    <div class="decade-{{year}} article" style="background:url({{image}});">
{{else}}
    <div class="decade-{{year}} article" style="background:url(../images/layout/placeholder.png);">
{{/if}}
    {{!<h2 class="year">{{year}}</h2>
    <h2>{{title}}</h2>
</div>